.navBar {
  background-color: #205691;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  ul {
    // border: solid red;
    width: 140%;
    display: flex;
    justify-content: space-evenly;
  }
a{
    color: #FFFFFF;
   font-size: 1.75rem;
}

  .fotoDoPerfil  {
    
    height: 20%;
    width: 30%;
    border-radius: 100%;
    border: solid #00aaff ;
   
  }
}  

// ------------Responsivo----------------

@media (min-width: 201px) and (max-width: 500px) {
  .navBar {
    height: 10vh;
    a {
      font-size: 0.85rem;
    }

    .logo {
      width: 10vw;
    }

    .imgPerfil {
      height: 6vh;
      width: 10vw;
    }
  }
}